.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid blue; 
  margin: 200px 300px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.welcome {
  background-color: aqua;
  border: 2px solid; 
  width: 50%;
  text-align: center;
}

.details {
  margin-left: 10px;
  background-color: aqua;
  border: 2px solid; 
  width: 50%;
  text-align: center;
}

.form-control {
  display: flex;
  margin-left: 10px;
}

.btn-submit {
  background-color: lightseagreen;
  margin-top: 10px;
  float: right;
  margin-right: 50px;
}

ul {
  list-style-type: none;
  justify-content: center;
}

li {
  border: 2px solid;
  border-radius: 4px;
  margin: 1px 7px;
  background-color: #fff;
  box-shadow: 5px 5px #888888;
 
}

